# Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:3000

# Upstash Redis
UPSTASH_REDIS_REST_URL="https://nice-quail-113170.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAboSAAIgcDJjMTg3MjYzMTBjYWM0NGMzYjZmODg5NDc1ZjFiNTRkMg"

# Encryption Keys (for MT5 password encryption)
ENCRYPTION_KEY="7x!A%D*G-KaPdSgVkYp3s6v9y$B&E)H@"
IV_LENGTH=16

# Admin email for initial setup
ADMIN_EMAIL=mukisamicheal088@gmail.com
ADMIN_PASSWORD_PLAIN=H7#xF!9t$mKQ2w5v
CREATE_ADMIN_BY_RUNNING_THIS=curl.exe -X POST http://localhost:3000/api/admin/init

# Payment Configuration
USDT_WALLET_ADDRESS="TCmyVHKK8G8GYJBvQmDvZW9KCXAXSYyJAV"
MTN_MERCHANT_CODE="745979"
AIRTEL_MERCHANT_CODE="7104191"

# Session
SESSION_SECRET="phantompip-session-key-secure-prod-b8f4k9x2m7p1q3r5s8t0w2y4z6a8b9c1"
SESSION_EXPIRY=86400


